<template name="Home">
	{{#if currentUser}}
		<div class="row">
			<h1 class="text-center">{{currentUser.username}}'s characters</h1>
			<!--
				The spell database will be empty unless you uncomment this along with "click .import" in the home.js file.
				Once both are uncommented, click the import button and wait for everything to be displayed, Then refresh the page and search should work.
				
				<button class="import">import</button>
			-->
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10">
				{{#each userBooks}}
					<div class="col-xs-12 col-md-2" id="{{_id}}" style=" border: 1px solid black; margin-bottom: 10px; margin-right: 10px; word-wrap: break-word;">
						<h4>{{spellbookName}}</h4>
						<h5>{{spellbookClass}}</h5>
						<hr>
						<div class="form-group">
						<button class="btn btn-default form-control">Edit</button>
						</div>
						<div class="form-group">
						<button class="btn btn-danger form-control delete">Delete</button>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	{{else}}
		<div class="row">
			<div class="col-xs-12 col-md-offset-4 col-md-4">
				<h4 class="text-center">Log in to create spell books</h4>
			</div>
		</div>
	{{/if}}		
</template>