<template name="Home">
	{{#if currentUser}}
		<div class="row">
			<h1 class="text-center">{{currentUser.username}}'s characters</h1>
			<!--
				The spell database will be empty unless you uncomment this along with "click .import" in the home.js file.
				Once both are uncommented, click the import button and wait for everything to be displayed, Then refresh the page and search should work.
				
				<button class="import">import</button>
			-->
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10">
				{{#each userBooks}}
					{{> Test}}
				{{/each}}
			</div>
		</div>
	{{else}}
		<div class="row">
			<div class="col-xs-12 col-md-offset-4 col-md-4">
				<h4 class="text-center">Log in to create spell books</h4>
			</div>
		</div>
	{{/if}}		
</template>

<template name="Test">
	{{#if editable}}
		<div class="col-xs-12 col-md-2 spellbook-border">
			<div class="row spellbook-clickable text-center" id="{{_id}}">
				<input class="form-control spellbookNameValue" id="{{_id}}" placeholder="{{spellbookName}}">
				<br>
				<input class="form-control spellbookClassValue" id="{{_id}}" placeholder="{{spellbookClass}}">
			</div>
			<div class="row spellbook-edit-options">
				<button class="btn btn-default edit-spellbook form-control" id="save">Save</button>
				<button class="btn btn-danger form-control" id="delete">Delete</button>
			</div>
		</div>
	{{else}}
		<div class="col-xs-12 col-md-2 spellbook-border">
			<div class="row spellbook-clickable text-center" id="{{_id}}">
				<h4 id="{{_id}}">{{spellbookName}}</h4>
				<br>
				<h5 id="{{_id}}">{{spellbookClass}}</h5>
			</div>
			<div class="row spellbook-edit-options">
				<button class="btn btn-default edit-spellbook form-control" id="edit">Edit</button>
				<button class="btn btn-danger form-control" id="delete">Delete</button>
			</div>
		</div>
	{{/if}}
</template>